// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_collapsible_navigation.less';

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__color: @text__color;
@message-global-note__background: @color-yellow-light2;
@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;
@message-global-note__border-color: @color-yellow-light3;

@message-global-caution__color: @color-white;
@message-global-caution__background: @color-red9;
@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;
@message-global-caution__border-color: none;

@header__background-color: false;
@header-panel__background-color: @color-gray-middle3;
@header-panel__text-color: @color-white;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;
@customer-welcome__z-index: @dropdown-list__z-index + 1;

@addto-color: @color-gray60;
@addto-hover-color: @primary__color;
@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@price-color: @color-gray34;
@price-size: 22px;
@price-size-desktop: 36px;

@button__shadow: inset 0 1px 0 0 rgba(255, 255, 255, 1), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls
@button__shadow-active: inset 0 1px 0 0 fade(@border-color__base, 80), inset 0 -1px 0 0 fade(@border-color__base, 30); // Used for secondary button and catalog toolbar controls

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: @color-gray-light01;
@footer-links-separator-border-color: @color-gray-light4;
@footer-links-color: @color-gray34;
@footer-links-color-hover: @color-gray20;
@footer-links-color-current: @primary__color__light;

//  Layered navigation
@filter-title-background-color: @color-gray94;
@filter-link: @color-gray-darken4;
@filter-link-hover: darken(@filter-link, 30%);
@filter-quantity: @color-gray52;
@header-link-hover-orange:#f95318;
//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    body {
        .lib-css(background-color, @page__background-color);
    }

    //  ToDo UI: move it directly to .page-wrapper (now it doesn't appear in mediaquery cuz of size of css)
    .page-wrapper {
        .ie9 & {
            .lib-css(background-color, @page__background-color);
            min-height: 0;
        }
        .nav-sections{
        background: #f95318;
            .section-items.nav-sections-items{
                .section-item-content.nav-sections-item-content{
                    .navigation{
                        /*.level0.nav-1.first.level-top.ui-menu-item.menu-logo{
                            display: none;
                        }*/
                    }
                }
            }
        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base; 
        background:#f95318;

        .panel.wrapper {
            @media(max-width:768px){
                display: none;
            }
            .lib-css(background-color, @header-panel__background-color);
            .lib-css(color, @header-panel__text-color);
        }
        .header.content{
            img{
                width: 38%;
                margin: -11px 0px -11px 235px
            }
            .nav-toggle:before{
                font-size: 46px;
                padding: 17px;
                color: white;
            }
        }
    }
    .breadcrumbs{
        display: none;
    }
    .maincontent{
        .columns{
            .column.main{
                .main_Border{
                    @media(max-width:768px){
                        margin-bottom: 129px;
                        border: 12px solid orangered;
                        height: 420px;
                        border-bottom: 0;
                        border-right: 0;
                        margin-top: 90px;
                        }
                        
                    .ethenic{

                    }
                }
            }
        }
    }

    .header.panel {
        > .header.links {
            
            .lib-list-inline();
            float: left;
            font-size: 0;
            margin-left: auto;
            margin-right: @indent__base;

            > li {
                font-size: @font-size__base;
                margin: 0 0 0 15px;

                > a { 

                    .lib-link(
                    @_link-color: @header-panel__text-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @header-panel__text-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @header-link-hover-orange,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: @header-panel__text-color,
                    @_link-text-decoration-active: none
                    );
                    color: grey;
                }
            }
        }
        .minicart-wrapper{
            display: none;
        }
        .link.wishlist{
            float: right;
            width: 23px;
            margin: -14px 3px;
        }
        .minicart-search{
            .minicart-wrapper{
                display: block;
            }
        }
        .block-search.action.search:before{
                font-size: 18px;

        }
    }

    .header {
        &.content:extend(.abs-add-clearfix all) {
            .main_Border{
                        margin-bottom: 124px;
            border: 12px solid orangered;
            height: 509px;
            border-bottom: 0;
            margin-top: 47px;
            }
             @media(min-width:768px){
                display: none;
             }
            padding-top: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 0 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;

        img {
            display: block;
        }

        .page-print & {
            display: inline-block;
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        margin-top: @indent__m;
        .footer.content{
            p{
                color:#878787;
                font-weight: 800;
            }
        }
    }

    .footer {
        ul{
        }
        li{
            color:#878787;
        }
        &.content {
            border-top: 1px solid @footer-links-separator-border-color;
            padding-top: @indent__base;

            ul:extend(.abs-reset-list all) {
            }

            .links {
                > li {
                    .lib-css(background, @footer__background-color);
                    .lib-font-size(16);
                    border-top: 1px solid @footer-links-separator-border-color;
                    margin: 0 -@layout__width-xs-indent;
                    padding: 0 @layout__width-xs-indent;
                }

                a,
                strong {
                    display: block;
                    padding: @indent__s 0;
                }

                strong {
                    .lib-css(color, @footer-links-color-current);
                    font-weight: normal;
                }

                a {
                    .lib-link(
                    @_link-color: @footer-links-color,
                    @_link-text-decoration: none,
                    @_link-color-visited: @footer-links-color,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: @footer-links-color-hover,
                    @_link-text-decoration-hover: underline,
                    @_link-color-active: @footer-links-color-hover,
                    @_link-text-decoration-active: underline
                    );
                }
            }
        }
    }

    .copyright {
                .footerHr{
                width:100%;
                border-bottom: 0px solid #878787;
                opacity: 0.1;
                }
                span{
                    margin-right: 980px;
                }
        .lib-css(background-color, @copyright__background-color);
        .lib-css(color, @color-white);
        display: block;
        padding: 10px 30px;
        text-align: left;
    }

    .page-header,
    .page-footer {
        .switcher {
            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 10px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        .lib-link(
                        @_link-color: @color-gray20,
                        @_link-text-decoration: none,
                        @_link-color-visited: @color-gray20,
                        @_link-text-decoration-visited: none,
                        @_link-color-hover: @color-gray20,
                        @_link-text-decoration-hover: none,
                        @_link-color-active: @color-gray20,
                        @_link-text-decoration-active: none
                        );
                        display: block;
                        padding: 8px;
                    }
                }
            }

            strong {
                font-weight: @font-weight__regular;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            margin-bottom: @indent__xl;
        }
    }

    .widget {
        clear: both;

        .block-title:extend(.abs-block-widget-title all) {
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display:extend(.abs-no-display all) {
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker td {
        padding: 0;
    }

    .ui-tooltip {
        .lib-css(background, @tooltip__background);
        border: @tooltip__border-width solid @tooltip__border-color;
        padding: 10px;
    }
}

//
//  Navigation
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }

    .nav-sections .switcher-trigger strong:after {
        .lib-font-size(16);
        right: -25px;
        top: -2px;
    }

    .navigation .parent .level-top:after {
        .lib-font-size(16);
        right: 10px;
        top: 7px;
    }

    .page-footer .footer.content {
        .switcher-store {
            .lib-css(background, @footer__background-color);
            .lib-font-size(16);
            margin: 0 -@layout__width-xs-indent;

            .switcher-options {
                display: block;

                ul.dropdown {
                    background: none;
                    border: 0;
                    box-shadow: none;
                    margin: 0;
                    position: relative;

                    &:before,
                    &:after {
                        display: none;
                    }
                }

                .switcher-trigger,
                .switcher-option {
                    border-top: 1px solid @footer-links-separator-border-color;
                    display: block;
                    padding: @indent__s @layout-indent__width;
                }

                .switcher-trigger strong {
                    padding: @indent__s 0;
                }

                .switcher-option a {
                    padding: 0;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .logo {
        margin-bottom: 13px;
        margin-top: 4px;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    html,
    body {
        height: 100%; // Stretch screen area for sticky footer
    }

    body {
        .ie9 & {
            .lib-css(background-color, @copyright__background-color);
        }
    }

    .column.main{
        .main_Border{
            margin-bottom: 124px;
            border: 12px solid orangered;
            height: 509px;
            border-bottom: 0;
            margin-top: 47px;
            .banner1{
                width: 31%;
                float: right;
                padding-right: 73px;
                margin-top: -60px;
            }
            .ethenic{
                @media(min-width:1266px){
                   padding: 210px 177px;
                }
                @media(max-width:1266px) and (min-width: 1156px){
                       padding: 200px 102px;
                }
                @media(max-width:1156px) and (min-width: 1097px){
                       padding: 179px 60px;
                }
                @media(max-width:1097px) and (min-width: 1073px){
                       padding: 179px 44px;
                }
                @media(max-width:1073px) and (min-width: 1060px){
                       padding: 157px 35px;
                }
                @media(max-width:1060px) and (min-width: 1059px){
                        padding: 171px 242px
                }
                @media(max-width:1059px) and (min-width: 1012px){
                        padding: 171px 221px;
                }
                @media(max-width:1012px) and (min-width: 946px){
                        padding: 171px 175px;
                }
                @media(max-width:946px) and (min-width: 908px){
                            padding: 151px 149px;
                }
                @media(max-width:946px) and (min-width: 860px){
                            padding: 151px 112px;
                }
                @media(max-width:860px) and (min-width: 804px){
                            padding: 125px 77px;
                }
                @media(max-width:804px) and (min-width: 768px){
                            padding: 115px 52px;
                }
                /*@media(max-width: 768px){
                            padding: 115px 52px;
                }*/
                .ethenic_title{
                    @media(min-width:1060px){
                    font-weight: 900;
                    font-size: 74px;
                    }
                    @media(max-width:1060px) and (min-width: 768px){
                    font-weight: 900;
                    font-size: 46px;
                    }
                }
                .action.tocart.primary{
                    padding: 10px 30px;
                    margin-top: -24px;
                    font-size: 1.3rem;
                    border-radius: 0; 
                    line-height: 1;
                    padding-bottom: 8px; 
                    padding-top: -1px; 
                    white-space: nowrap;
                    .shop_btn{
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .bannerMain{
            padding: 0px 121px;
            .banner2{
                float: left;
                /*background: rgba(128, 128, 128, 0.1);*/
                width: 19%;
                .banner2_elmnt{
                  background: rgba(128, 128, 128, 0.1);
                  margin-top: 0px;
                  margin-bottom: 2px;
                  height: 410px;
                }
                .baner2_title{
                    font-size: 26px;
                    text-align: center;
                    font-weight: 600;
                    position: relative;
                    top: 26px;

                     @media(min-width:1014px){
                        font-size: 21px;
                     }
                     @media(max-width:1014px) and (min-width: 847px){
                        font-size: 19px;
                     }
                     @media(max-width: 847px) and (min-width: 768px){
                        font-size: 16px;
                     }
                }
                .banner2_hr{
                    border-top: 2px solid orangered;
                    padding: 0px 0px -4px;
                    padding: 3px;
                    width: 20px;
                    margin-bottom: 0px;
                }
                .banner2_descrp{
                    text-align: center;
                    color: gray;
                    font-size: 12px;
                    padding: 23px;
                    position: absolute;
                    @media(max-width: 1133px){
                        font-size: 12px;
                        left: 133px;
                    }
                    @media(max-width: 1133px) and (min-width: 1048px){
                        font-size: 11px;
                        left: 133px;
                    }
                    @media(max-width: 1048px) and (min-width: 987px){
                       font-size: 11px;
                        left: 127px;
                    }
                    @media(max-width: 987px) and (min-width: 911px){
                       font-size: 10px;
                        left: 126px;
                    }
                }
                .banner2_img{
                    position: relative;
                    top: 68px;
                }
                .banner3image{
                        padding: 23px 0px 0px;
                        position: relative;
                    .imgb3Detail{
                        position: absolute;
                        top: 179px;
                        left: 61px;
                        font-size: 12px;
                        color: grey;
                    }
                    .imgb3{
                       height: 193px;
                       padding-bottom: 18px;
                       position: relative;
                    }

                }
                .banner4image{
                    .imgb4{
                        height: 185px;
                        position: relative;
                    }
                    .banner4imageDtls1{
                            position: absolute;
                            top: 1555px;
                            left: 193px;
                            font-size: 19px;
                            font-weight: 600;

                    }
                    .banner4imageDtls2{
                        position: absolute;
                        top: 1620px;
                        left: 192px;
                        font-size: 11px;
                        color: grey;
                    }
                }
            }
            .banner3{
                width: 78%;
                float: right; 
                /*background: rgba(128, 128, 128, 0.09);*/
                .banner3Body{
                    background: rgba(128, 128, 128, 0.09);
                    float: left;
                    width: 100%;
                    margin-bottom: 5px;
                }
                .banner3_div{
                    float: left;  
                    width: 20%;  
                    padding-left: 39px;
                    .banner3_title{
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 0px;
                        position: absolute;
                        top: 871px;
                        @media(min-width:1014px){
                            font-size: 21px;
                        }
                        @media(max-width:1014px) and (min-width: 847px){
                            font-size: 19px;
                            
                        }
                        @media(max-width: 847px) and (min-width: 768px){
                            font-size: 16px;

                        }
                    }
                    .banner3_hr_right{
                        border-top: 2px solid orangered;
                        width: 25px;
                        margin-left: 0px;
                        position: relative;
                        top: 64px;
                        left: 3px;

                        @media(max-width:1014px) and (min-width: 847px){
                            top: 58px;
                            
                        }
                        @media(max-width: 847px) and (min-width: 768px){
                            top: 52px;
                           
                        }
                    }
                    .banner3_discrp_right{
                        color: gray;
                        font-size: 12px;
                        position: absolute;
                        top: 963px;
                        }
                    .banner3_elmnt{
                        margin-top: 134px;
                        width: 45%;
                        .action.tocart.primary{
                            padding: 10px 30px;
                            font-size: 1.3rem;
                            border-radius: 0;
                            line-height: 1;
                            padding-top: -1px;
                            float: left; 
                        }
                        .banner3_btn{
                            float: right;
                        }
                    }
                }
                .banner3_share_icn{
                        float: right;
                        img{
                            width: 94%;
                            float: right;
                        }
                    }
                    .banner5{
                        .bannerImg5{
                        float: left;
                        width: 65%;
                        height: 406px;
                        padding-top: 20px;
                        position: relative;
                    }
                    .bannerImg5Round{
                                width: 86px;
                                height: 86px;
                                background: black;
                                border-radius: 50px;
                                color: white;
                                position: absolute;
                                top: 1304px;
                                left: 397px;
                        }
                        .bannerImg5Dtls{
                            position: absolute;
                            top: 1326px;
                            color: white;
                            left: 410px;
                            font-size: 33px;
                        }
                        .banner5dt1{
                                position: absolute;
                                top: 1555px;
                                left: 404px;
                                font-size: 19px;
                                font-weight: 600;
                        }
                        .banner5dt2{
                            position: absolute;
                            top: 1620px;
                            left: 404px;
                            font-size: 11px;
                            color: grey;
                        }
                    .bannerImg6{
                        float: right;
                        width: 31%;
                        height: 406px;
                        padding-top: 20px;
                    }
                    .banner6dt1{
                            position: absolute;
                            top: 1331px;
                            left: 944px;
                            font-size: 19px;
                            font-weight: 600;
                            hr{
                                border-top: 2px solid orangered;
                                width: 25px;
                                margin-left: 0px;
                            }
                    }
                    .banner6dt2{
                        position: absolute;
                        top: 1602px;
                        left: 948px;
                        font-size: 11px;
                        color: grey;
                    }

                }
                    
            }
            .banner7{
                    width: 99.5%;
                    background: orangered;
                    float: left;
                    padding: 0px 2px;
                    height: 289px;
                    margin-bottom: 96px;
                    margin-top: 20px;
                    .banner7image{
                        height: 289px;
                    }
                    .banner7emnt{
                        float: right;
                        padding: 7% 11%;
                        color: white;
                        h1{
                            font-weight: 400;
                        }
                        span{
                            font-size: 12px;
                        }
                    }
                    .banner7btn{
                        margin-top: 20px;
                        .action.tocart.primary{
                                border: 1px solid;
                                border-radius: 0;
                        }
                    }

            }
        }
        .products_banner{
            background: lightgray;
            float: left;
            width: 100%;
            margin: 0px -74px;
            padding: 77px;
            margin-bottom: -23px;
            .products-left{
                    float: left;
                    padding: 0px 122px;
                    .product1{
                        float: left;
                        background: white;
                        padding: 42px 40px 0px;
                        img{
                            margin-bottom: -5px;
                        }
                        .product1Title{
                            font-size: 12px;
                            font-weight: 600;
                            hr{
                                border-top: 2px solid orangered;
                                padding: 3px;
                                width: 20px;
                                margin: 8px 0px;
                            }
                        }
                        .product1dtl{
                            font-size: 22px;
                            font-weight: 600;
                            padding: 29px 2px;
                        }
                    }
                    .product2{
                        float: right;
                        .products-grid.grid{
                                padding: 0px 1px;
                                ol{
                                    width: 111%;
                                    li{
                                        background: white;
                                        width: 30%;
                                        text-align: center;
                                        border-right: 1px solid #e4e4e4;
                                        margin-left:0px;
                                        .action.tocart.primary{
                                            display: none;
                                        } 
                                         .product-item-actions{
                                            .actions-secondary{
                                                .action.tocompare{
                                                    display: none;
                                                }
                                            }
                                        } 
                                    }
                                }
                                
                        }
                    }
            }
        }
        .main-about-banner{
            .top-banner-about-us{
                .aboutUsB1{
                    img{
                        width: 47%;
                        position: relative;
                        top: -52px;
                        left: 590px;
                    }
                }
                .bannerInfoAbt{
                    position: absolute;
                    top: 314px;
                    left: 457px;
                    font-size: 61px;
                    font-weight: 700;
                }
            }
            .bottom-banner-about{
                .editorImg{
                    width: 104px;
                    height: 107px;
                    border-radius: 95px;
                    position: relative;
                    border: 5px solid #f95318;
                    left: 243px;
                    img{
                        width: 85px;
                        position: absolute;
                        top: 11px;
                        left: 9px;
                    }
                }
                .detailsAbout{
                    strong{
                        color: #f95318;
                        font-size: 17px;
                        font-weight: 600;
                    }
                    p{
                        position: absolute;
                        top: 641px;
                        width: 55%;
                        left: 453px;
                    }
                }
                .bannerEditorTitle{
                        position: relative;
                        margin-bottom: 223px;
                    .hrBanner{
                        border: 4px solid #f95318;
                        border-bottom: 0;
                        border-radius: 0;
                        border-left: 0;
                        height: 262px;
                        border-top: 0;
                        position: absolute;
                        top: 0px;
                        left: 298px;
                    }
                    .bannerEditorDescrp{
                        p{
                            left: 261px;
                            position: absolute;
                            background: white;
                            top: 9px;
                        }
                    }
                }
            }
            .last-banner{
                    background: rgba(128, 128, 128, 0.05);
                    margin: -39px -28px;
                    height: 372px;
                    margin-top: 0px;
                    .bannerlastImg{
                        img{
                            position: relative;
                            left: 289px;
                            width: 6%;
                            top: 39px;
                        }
                    }
                    .horizontalDesc{
                        position: absolute;
                        top: 1001px;
                        left: 420px;
                        font-size: 69px;
                        font-weight: 900;
                    }
                    .seprateLastBanner{
                            border: 1px solid rgba(143, 143, 143, 0.15);
                            border-bottom: 0;
                            border-radius: 0;
                            border-left: 0;
                            height: 309px;
                            border-top: 0;
                            position: absolute;
                            top: 1028px;
                            left: 822px;
                    }
                    .detailsOflstbnr{
                        position: relative;
                        bottom: 121px;
                        left: 907px;
                        width: 385px;
                        h4{
                            color: #f95318;
                            font-size: 11px;
                            font-weight: 600;
                            margin-bottom: 0px;
                        }
                        .phara1{
                            strong{
                                font-size: 20px;
                                font-weight: 600;
                            }
                            .phara2{
                                font-size: 12px;
                                color: grey;
                            }
                        }
                    }
            }
        }
        
    }

    .navigation ul {
        padding: 16px;
        background: #f95318;
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .panel.wrapper {
            border-bottom: 1px solid @secondary__color;
            .lib-css(background-color, @header-panel__background-color);
        }

        .header.panel:extend(.abs-add-clearfix-desktop all) {
            padding-bottom: @indent__s;
            padding-top: @indent__s;
        }

        .switcher {
            float: right;
            margin-left: 15px;
            margin-right: -6px;
            .lib-vendor-prefix-order(1);

        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .customer-welcome {
        .lib-dropdown(
        @_toggle-selector: ~'.action.switch',
        @_options-selector: ~'ul',
        @_dropdown-actions-padding: 0,
        @_dropdown-list-item-padding: 0,
        @_dropdown-toggle-icon-content: @icon-down,
        @_dropdown-toggle-active-icon-content: @icon-up,
        @_icon-font-text-hide: true,
        @_icon-font-size: 10px,
        @_icon-font-line-height: 22px,
        @_dropdown-list-pointer-position: right,
        @_dropdown-list-position-right: 0,
        @_dropdown-list-z-index: @customer-welcome__z-index
        );

        li:extend(.switcher li all) {
            a {
                .lib-link(
                @_link-color: @color-gray20,
                @_link-text-decoration: none,
                @_link-color-visited: @color-gray20,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @color-gray20,
                @_link-text-decoration-hover: none,
                @_link-color-active: @color-gray20,
                @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }

        .customer-name {
            cursor: pointer;
        }

        .customer-menu {
            display: none;
        }

        .action.switch {
            .lib-button-reset();
            .lib-css(color, @color-white);
        }

        .header.links {
            min-width: 175px;
        }

        &.active {
            .action.switch {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }

            .customer-menu {
                display: block;
            }
        }

        .greet {
            display: none;
        }
    }

    .header {
        &.panel {
            > .header.links {
                .lib-list-inline();
                float: left;
                margin-left: auto;
                font-weight: 800;

                > li {
                    margin: 0 0 0 15px;

                    &.welcome,
                    > a {
                        display: inline-block;
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(color, @color-white);
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }

                > .authorization-link {
                    & a{
                        color: grey;
                    }
                    &:after {
                        content: attr(data-label);
                        display: inline-block;
                        margin: 0 -@indent__xs 0 @indent__xs;
                    }
                }

                > .customer-welcome + .authorization-link {
                    display: none;
                }
            }
        }

        &.content:extend(.abs-add-clearfix-desktop all) {
            padding: @indent__l @indent__base 0;
/*            display: none;
*/        }
    }

    .logo {
        @media(min-width:768px){
            display: none;
        }

        margin: -8px auto @indent__m 0;

        img {
            max-height: inherit;
        }
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        margin: 0;
        min-height: 100%; // Stretch content area for sticky footer
        position: relative;
        transition: margin .3s ease-out 0s;

        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }

        .ie10 &,
        .ie11 & {
            height: 100%;
        }
    }

    .page-footer {
        .lib-css(background, @footer__background-color);
        margin-top: auto;
        padding-bottom: @indent__m;

        .switcher {
            .options {
                ul.dropdown {
                    bottom: -@indent__s;
                    left: 100%;
                    margin: 0 0 0 @indent__base;
                    top: auto;

                    &:before,
                    &:after {
                        bottom: @indent__base - 7px;
                        left: auto;
                        right: 100%;
                        top: auto;
                    }

                    &:before {
                        .lib-css(border-color, transparent @dropdown-list__background transparent transparent);
                    }

                    &:after {
                        .lib-css(border-color, transparent @dropdown-list-pointer__border transparent transparent);
                        margin: 0 0 -1px -1px;
                    }
                }
            }
        }
    }

    .footer {
        color:#ededed;
        &.content {
            border-top: none;
            float: right;

            .block {
                float: right;
            }

            ul {
                padding-right: 50px;
            }

            .switcher.store {
                display: block;
                margin: 0;
            }

            .links {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;

                li {
                    background: transparent;
                    border: none;
                    font-size: 14px;
                    margin: 0 0 8px;
                    padding: 0;
                }

                a,
                strong {
                    display: inline;
                }
            }
        }
    }
    .navigation .level0 > .level-top{
        color: #fff;
    }
    .level-top .ui-corner-all span img{
        margin-bottom: -46px;
        margin-top: -25px;
    }
    .page-header .switcher .options .action.toggle, .page-footer .switcher .options .action.toggle{
        color: grey;
    }
    .switcher.store.switcher-store{
        float: left;
        position: relative;
        left: 121px;
    }
    .switcher.language.switcher-language{
        float: left;
        position: relative;
        left: 113px;
    }

    .header.content{
        @media(min-width:768px){
           
        }
    }
    .page-header .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after{
            color: #f95318;
            content: '\e607';
    }

}
