<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Config" type="Excellence\Sortby\Model\Rewrite\Catalog\Config" />
    <preference for="Magento\Catalog\Block\Product\ListProduct" type="Excellence\Sortby\Block\Rewrite\Catalog\Product\ListProduct" />
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Excellence\Sortby\Block\Rewrite\Catalog\Product\ProductList\Toolbar" />
    <preference for="Magento\Catalog\Model\Config\Source\ListSort" type="Excellence\Sortby\Model\Rewrite\Catalog\Config\Source\ListSort" />
    <preference for="Magento\Catalog\Model\Category\Attribute\Source\Sortby" type="Excellence\Sortby\Model\Rewrite\Catalog\Category\Attribute\Source\Sortby" />
    <!-- <preference for="Magento\Customer\Block\Widget\Dob" type="Excellence\Sortby\Block\Rewrite\Customer\Widget\Dob" /> -->
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="Excellence\Sortby\Controller\Rewrite\Customer\Account\CreatePost" />
</config>