<?xml version="1.0"?>
<!--
/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* =================================================================
*                 MAGENTO EDITION USAGE NOTICE
* =================================================================
* This package designed for Magento COMMUNITY edition
* BSS Commerce does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* BSS Commerce does not provide extension support in case of
* incorrect edition usage.
* =================================================================
*
* @category   BSS
* @package    Bss_MultiStoreViewPricing
* @author     Extension Team
* @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Catalog\Model\Config\Source\Price\Scope" type="Bss\MultiStoreViewPricing\Model\Config\Source\Price\Scope" />
	<preference for="Magento\Catalog\Model\Product\Attribute\Backend\Price" type="Bss\MultiStoreViewPricing\Model\Product\Attribute\Backend\Price" />
	<preference for="Magento\CatalogRule\Pricing\Price\CatalogRulePrice" type="Bss\MultiStoreViewPricing\Pricing\Price\CatalogRulePrice" />
	<preference for="Magento\CatalogRule\Model\ResourceModel\Rule" type="Bss\MultiStoreViewPricing\Model\Rule" />
	<preference for="Magento\CatalogRule\Model\Indexer\IndexBuilder" type="Bss\MultiStoreViewPricing\Model\Indexer\IndexBuilder" />
	<type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
		<plugin name="Bss_MultiStoreViewPricing::price" type="Bss\MultiStoreViewPricing\Plugin\Price" sortOrder="1" />
	</type>
	<type name="Magento\CatalogWidget\Block\Product\ProductsList">
		<plugin name="Bss_MultiStoreViewPricing::widget_product)list" type="Bss\MultiStoreViewPricing\Plugin\Widget\Price" sortOrder="1" />
	</type>
</config>