// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Newsletter subscription
    .block.newsletter {
        margin-bottom: 20px;
        h2{
            padding-left: 30px;
        }
        h4{
             padding-left: 30px;
        }

        .form.subscribe {
            display: table;
            width: 78%;
            margin-left: 46px;
        }

        .fieldset {
            display: table-cell;
            margin: 0;
            padding: 0;
            vertical-align: top;
        }

        .field {
            margin: 0;

            .control {
                .lib-icon-font(
                @icon-envelope,
                @_icon-font-size: 16px,
                @_icon-font-line-height: 32px,
                @_icon-font-color: @form-element-input-placeholder__color,
                @_icon-font-margin: 0 0 0 8px
                );

                &:before {
                    position: absolute;
                    display:none;
                }

                display: block;
            }
        }

        input {
            padding-left: 35px;
            height: 45px;
            margin-left: -16px;
            background:#191919;
            border: 0.1px solid #878787;
            opacity: 0.2;
        }

        .title {
            display: none;
        }

        .label {
            &:extend(.abs-visually-hidden all);
        }

        .actions {
            display: table-cell;
            vertical-align: top;
            width: 1%;
        }

        .action.subscribe {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: -1px;
            height: 45px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .block.newsletter {
        width: 34%;
    }
}
