<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Otentika_Adminhtml::admin">
                <resource id="Otentika_Braintree::braintree" title="Braintree" sortOrder="40">
                    <resource id="Otentika_Braintree::manage" title="Braintree Module" sortOrder="10">
						<resource id="Otentika_Braintree::save" title="Save Braintree" sortOrder="10" />
                        <resource id="Otentika_Braintree::news_delete" title="Delete Braintree" sortOrder="20" />
					</resource>
                </resource>
                <resource id="Otentika_Adminhtml::stores">
                    <resource id="Otentika_Adminhtml::stores_settings">
                        <resource id="Otentika_Adminhtml::config">
                            <resource id="Otentika_Braintree::config_braintree" title="Braintree Section" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
